APP_NAME=RBAC Auth Service
DEBUG=false
API_V1_PREFIX=/api/v1

POSTGRES_DB=rbac_auth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/rbac_auth

JWT_SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
